<div class="crl_buttons">

	<h2>Buttons</h2>

	<div class="cr_heading">Inline Buttons</div>

	<div class="typography">
		<a class="button" href="#">Learn More</a>
		<a class="button" href="#">Back</a>
		<a class="button" href="#">More News</a>
	</div>

</div>
