<blockquote class="quote">
	<div class="row">
		{{site.image("quote", img.portraitClassic.xsml, image)}}
		<div class="quote_details">
			<p class="quote_description">{{description}}</p>
			<cite class="quote_cite">
				<span class="quote_name">{{name}}</span>
				<span class="quote_position">{{position}}</span>
			</cite>
		</div>
	</div>
</blockquote>
