		<nav class="hud_nav tezst" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div>	<div class="hud_nav_list" role="navigation">
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}to-from-bwi/parking">
						<span class="hud_nav_symbol">			
							<svg class="symbol symbol_space-car">
								<use xlink:href="#space-car"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Parking</span>
					</a>
				</div>
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}flying-with-us/flights">
						<span class="hud_nav_symbol">
							<svg class="symbol symbol_airplane">
								<use xlink:href="#airplane"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Flights</span>
					</a>
				</div>
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}wayfinding">
						<span class="hud_nav_symbol">
							<svg class="symbol symbol_marker">
								<use xlink:href="#marker"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Interactive Map</span>
					</a>
				</div>
			</div></div>
			
			
		</nav>
		

		<nav class="js-main-nav main_nav main_nav_sm" aria-label="Site Navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
			<div class="main_nav_list" role="navigation">
											<div class="js-nav-item-1 main_nav_item fs-swap-target fs-swap-enabled" itemprop="url">
							<div class="main_nav_item_wrapper">
								<a class="main_nav_link" href="/to-from-bwi" itemprop="name">To &amp; From BWI</a>
														<span class="main_nav_indicator">
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</span>

								<button class="js-swap main_nav_toggle fs-swap-element fs-swap-enabled" data-swap-target=".js-nav-item-1" data-swap-group="main_nav">
									<span>Expand Navigation</span>
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</button>
													</div>

												<div class="main_nav_children">
								<div class="main_nav_children_wrapper">
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/to-from-bwi/parking" itemprop="name">
											<span>Parking</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/to-from-bwi/transportation" itemprop="name">
											<span>Transportation</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/to-from-bwi/hotels-near-bwi" itemprop="name">
											<span>Hotels Near BWI</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
															</div>
							</div>
											</div>
														<div class="js-nav-item-2 main_nav_item fs-swap-target fs-swap-enabled" itemprop="url">
							<div class="main_nav_item_wrapper">
								<a class="main_nav_link" href="/at-bwi" itemprop="name">At BWI</a>
														<span class="main_nav_indicator">
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</span>

								<button class="js-swap main_nav_toggle fs-swap-element fs-swap-enabled" data-swap-target=".js-nav-item-2" data-swap-group="main_nav">
									<span>Expand Navigation</span>
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</button>
													</div>

												<div class="main_nav_children">
								<div class="main_nav_children_wrapper">
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/at-bwi/holiday-travel-guide-2023" itemprop="name">
											<span>Holiday Travel Guide 2023</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/at-bwi/maps" itemprop="name">
											<span>Maps</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/at-bwi/things-to-do" itemprop="name">
											<span>Things to Do</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/at-bwi/places-to-go" itemprop="name">
											<span>Places to Go</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/at-bwi/resources" itemprop="name">
											<span>Resources</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
															</div>
							</div>
											</div>
														<div class="js-nav-item-3 main_nav_item fs-swap-target fs-swap-enabled" itemprop="url">
							<div class="main_nav_item_wrapper">
								<a class="main_nav_link" href="/flying-with-us" itemprop="name">Flying With Us</a>
														<span class="main_nav_indicator">
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</span>

								<button class="js-swap main_nav_toggle fs-swap-element fs-swap-enabled" data-swap-target=".js-nav-item-3" data-swap-group="main_nav">
									<span>Expand Navigation</span>
									<svg aria-hidden="true" class="symbol symbol_caret_down symbol_red">
										<use xlink:href="#caret_down"></use>
									</svg>
								</button>
													</div>

												<div class="main_nav_children">
								<div class="main_nav_children_wrapper">
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/flights" itemprop="name">
											<span>Flights</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/security-tsa-guidelines" itemprop="name">
											<span>Security</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/baggage" itemprop="name">
											<span>Baggage</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/airport-safety" itemprop="name">
											<span>Airport Safety</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/lost-found" itemprop="name">
											<span>Lost &amp; Found</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/international-travelers" itemprop="name">
											<span>International Travelers</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/accessibility" itemprop="name">
											<span>Accessibility</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/corporate-general-aviation" itemprop="name">
											<span>Corporate &amp; General Aviation</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
																<div class="main_nav_child_item" itemprop="url">
										<a class="main_nav_child_link" href="/flying-with-us/about-bwi" itemprop="name">
											<span>About BWI</span>
											<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
												<use xlink:href="#arrow_right"></use>
											</svg>
										</a>
									</div>
															</div>
							</div>
											</div>
																							</div>
		</nav>





		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary Navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
			<div class="secondary_nav_list" role="navigation">
																										<div class="secondary_nav_item" itemprop="url">
							<a class="secondary_nav_link" href="/contact" itemprop="name">
								<span class="secondary_nav_link_label">Contact</span>
							</a>
						</div>
														<div class="secondary_nav_item" itemprop="url">
							<a class="secondary_nav_link" href="https://lp.constantcontact.com/su/TKf09Lz/subscribe" itemprop="name">
								<span class="secondary_nav_link_label">Subscribe</span>
							</a>
						</div>
														<div class="secondary_nav_item" itemprop="url">
							<a class="secondary_nav_link" href="/jobs" itemprop="name">
								<span class="secondary_nav_link_label">Jobs</span>
							</a>
						</div>
								</div>
		</nav>
