{% extends "_base.twig" %}

{% set pageTitle = "Plugins" %}

{% block in_content_callouts %}
	<div class="cr_heading">Slideshow</div>

	<div class="js-carousel">
		{% for i in 0..3 %}
			<div>
				<img src="//spacehold.it/320x240/{{i}}.jpg" alt="{{i}}">
			</div>
		{% endfor %}
	</div>
{% endblock %}
