#google_translate_element {
  display: inline-block;
  vertical-align: middle;

  @media #{$min_lg} {
    padding-right: 8px;
  }

  .goog-te-gadget {
    @include proxima;

    font-size: 13px;
  }

    .goog-te-gadget-simple {
      @include expander;

      border: 0;
      border-radius: 4px;
      font: inherit;
      padding: 12px 20px 12px 0;
      transition: background .25s;

    	@media #{$min_lg} {
    		padding: 12px 5px 13px;
    	}

      @media screen and (min-width: 1080px) {
    		padding-right: 8px;
    		padding-left: 8px;
    	}

    	@media #{$min_xl} {
    		padding-top: 17px;
    		padding-bottom: 18px;
    	}

      > span {

        &:after {
          transform-origin: center center;
        }
      }
    }

      .goog-te-gadget-icon {
        display: none;
      }

      .goog-te-gadget-icon + span {}

        .goog-te-menu-value {
          margin: 0;

          span:first-child {
            color: $dark;
          }

          span:first-child ~ * {
            display: none;
          }

          [style*="border-left"] {
            display: none;
          }

          span:last-child {
            position: relative;

            color: transparent !important;

            &:before {
              position: absolute;
              top: 50%;
              left: 50%;

              border: 6px solid transparent;
              border-top-color: $red;
              content: "";
              margin-top: 3px;
              transform:
                translate(-50%, -50%)
                scaleX(.75)
                rotate(0);
            }

            &[style*="213"] {

              &:before {
                margin-top: -2px;
                transform:
                  translate(-50%, -50%)
                  scaleX(.75)
                  rotateX(180deg);
              }
            }
          }
        }
}
